@tailwind base;
@tailwind components;
@tailwind utilities;


.modal{
    animation: fade-pop-up .8s .2s cubic-bezier(0,.84,.01,1.4) forwards;
    opacity: 0;
  }
  
  @keyframes fade-pop-up{
    0%{
        opacity: 0;
        transform: translateY(0rem) scale(.8);
    }
    100%{
        opacity: 1;
        transform: none;
    }
  }